SafeBusLocationService/ConsoleApplication1/Service References/TrackingService/Tracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tracking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61454/Tracking.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61454/Tracking.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61454/Tracking.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SafeBusLocationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITracking_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITracking_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITracking_GetLocationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationDetails" />
  </wsdl:message>
  <wsdl:message name="ITracking_GetLocationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITracking">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITracking/Login" message="tns:ITracking_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITracking/LoginResponse" message="tns:ITracking_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITracking/GetLocationDetails" message="tns:ITracking_GetLocationDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITracking/GetLocationDetailsResponse" message="tns:ITracking_GetLocationDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Tracking" />
</wsdl:definitions>