SafeBusLocationService/ConsoleApplication1/Service References/TrackingService/Tracking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SafeBusLocationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SafeBusLocationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfTrackData" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfTrackData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackData" nillable="true" type="tns:TrackData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackData" nillable="true" type="tns:ArrayOfTrackData" />
  <xs:complexType name="TrackData">
    <xs:sequence>
      <xs:element minOccurs="0" name="bus_location" nillable="true" type="tns:LatLng" />
      <xs:element minOccurs="0" name="bus_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bus_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end_location" nillable="true" type="tns:Stop" />
      <xs:element minOccurs="0" name="start_location" nillable="true" type="tns:Stop" />
      <xs:element minOccurs="0" name="upcoming_locations" nillable="true" type="tns:ArrayOfStop" />
      <xs:element minOccurs="0" name="visited_locations" nillable="true" type="tns:ArrayOfStop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackData" nillable="true" type="tns:TrackData" />
  <xs:complexType name="LatLng">
    <xs:sequence>
      <xs:element minOccurs="0" name="pLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pLongitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatLng" nillable="true" type="tns:LatLng" />
  <xs:complexType name="Stop">
    <xs:sequence>
      <xs:element minOccurs="0" name="location_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pLongitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stop" nillable="true" type="tns:Stop" />
  <xs:complexType name="ArrayOfStop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stop" nillable="true" type="tns:Stop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStop" nillable="true" type="tns:ArrayOfStop" />
</xs:schema>